# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
.expo/
dist/
web-build/

# Expo
.expo-shared/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/