fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
google-genai# google-generativeai
python-multipart
pydantic
pydantic-settings
email-validator
pymupdf
python-docx